flex-d{
    display: flex;
    width: 100%;
    height: 15%;
    align-items: baseline;
}



.flex-item1{
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
height: 15%;
position: absolute;
top: 7px;


}
   

.flex-item2{
    display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
}

.flex-item3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: absolute;
   bottom: -130px;
}

.header{
    text-align: center;
    font-size: 30px;
}

.seperator{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex-division{
display: flex;
justify-content: space-around;
align-items: baseline;
padding: 20px 10px 0px 30px;
text-align: center;
}

.flex-1{
display: flex;
/* justify-content: center; */
text-align: center;
}

.flex-container{
    display: flex;
    align-items: baseline;
    padding: 30px;
    /* width: 50px; */
    /* height: 100px; */
}

.flex-item{
    width: 25%;
    height: 400px;
}
  
.san{
    text-align: center;
    text-transform: capitalize ;
    font-size: 30px;
}

.flex-f{
    display: flex;
    justify-content: space-evenly;
}

.flex-u{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(249, 246, 246);
    padding: 20px;
    opacity: 2;
}

.flex-end{
    display: flex;
    justify-content: space-between;
    border: 1px;
    background-color: black;
    height: 76%;
    width: 300px;
}

.flex-item15{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: -10px;
    background-color: black;
}
